<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px; transform: translateZ(0px);"><svg class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
      y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg></div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full px-4 lg:w-6/12">
        <h4 class="text-3xl font-semibold">Let the world know!</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">It's the social thing.
        </h5>
        <div class="mt-6"><a href="#" target="_blank"><i
              class="fab fa-twitter  bg-white text-blue-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a
            href="#" target="_blank"><i
              class="fab fa-facebook-square  bg-white text-blue-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a
            href="#" target="_blank"><i
              class="fab fa-github  bg-white text-black-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a
            href="#" target="_blank"><i
              class="fab fa-google  bg-white text-pink-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a>
        </div>
      </div>
      <div class="w-full px-4 lg:w-6/12">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full px-4 ml-auto lg:w-4/12"><span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://www.creative-tim.com/presentation">About This Starter Kit Theme</a></li>
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://creative-tim.com">Creative Tim</a></li>
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://www.github.com/robconery/node-pg-starter">Github</a></li>
            </ul>
          </div>
          <div class="w-full px-4 lg:w-4/12"><span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md">MIT
                  License</a></li>
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://creative-tim.com/terms">Terms &amp; Conditions</a></li>
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://creative-tim.com/privacy">Privacy Policy</a></li>
              <li><a class="text-gray-700 font-semibold block pb-2 text-sm hover:text-gray-900"
                  href="https://creative-tim.com/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400">
    <div class="flex flex-wrap items-center justify-center md:justify-between">
      <div class="w-full px-4 mx-auto text-center md:w-4/12">
        <div class="text-sm text-gray-600 font-semibold py-1">Copyright © 2019 Tailwind Trader Starter Site by <a
            class="text-gray-600 hover:text-gray-900" href="https://rob.conery.io">Rob Conery</a>.</div>
      </div>
    </div>
  </div>
</footer>