<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
  <link rel="stylesheet" href="/css/@fortawesome/fontawesome-free/css/all.min.css"/>
  <link rel="stylesheet" href="/css/tailwind.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
  />
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <% if(process.env.NODE_ENV='production'){ %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%}else{%>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <%}%>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <title>The Tailwind Starter Kit</title>
</head>